sqSize(size)
  width size
  height size

setSize(width, height)
  width width
  height height

transform()
  -webkit-transform arguments
  -mos-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments


width = 405px;