@font-face {
  font-family: 'ITCKabel';
  src: url("ITCKabel_OT/kbl75.eot");
  src: url("ITCKabel_OT/kbl75.eot") format('embedded-opentype'), url("ITCKabel_OT/kbl75.woff2") format('woff2'), url("ITCKabel_OT/kbl75.woff") format('woff'), url("ITCKabel_OT/kbl75.ttf") format('truetype'), url("ITCKabel_OT/kbl75.svg#KabelBoldITCRegular") format('svg');
}
.logo {
  max-height: 83px;
  text-align: center;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: ITCKabel;
}
html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
}
html body .preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
  z-index: 200;
  background: rgba(234,23,25,0.6);
}
html body .preloader:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}
html body .preloader .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
}
html body .preloader img {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  border: none;
}
html body .logo {
  height: 40px;
  background-color: #bf0d0b;
  background-image: url("../img/Logo_block.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
html body #site {
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
html body #site .content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
html body #site .dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.3);
}
html body #site .dialog .pause-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -98px -178px;
}
