<div class="home">

    <div class="bg"></div>
    <div class="content-home">

        <div class="logo">
            <a class="back" href="#">
                <img style="height: {{ size }}px" alt="Назад" src="img/back.png">
            </a>
        </div>

        <div class="body">


            <div class="row">

                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                    <img src="img/money_man.png" class="money-men"/>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>

            </div>

            <div class="row">

                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
                        <div class="">
                            <a onclick="SoundManager.button.play()" class="btn" href="#/game">
                                <img src="img/play.png">
                            </a>
                            <a onclick="SoundManager.button.play()" class="btn" href="#/rules">
                                <img src="img/How_play.png">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-0"></div>

            </div>


        </div>
        <div class="legal">
            <img src="img/legal.png">
        </div>

    </div>


</div>


