.home {
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.home .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.home .logo .back {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.home .logo .back img {
  width: auto;
  height: 100%;
}
.home .bg {
  background-image: url("../../../img/768x1024_gradient_overlay.png"), url("../../../img/babos.png");
  background-size: 100% 100%, 100% auto;
  background-repeat: no-repeat, repeat-y;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home .content-home {
  padding: 0 15px;
  min-height: 100%;
}
.home .content-home .body {
  padding-top: 83px;
  overflow: auto;
  position: relative;
  min-height: 100%;
  width: 100%;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.home .content-home .body .btn {
  display: block;
  margin: auto;
  width: 60%;
  padding: 0;
}
.home .content-home .body img {
  width: 100%;
}
.home .legal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.home .legal img {
  width: 100%;
}
