@import "../../../css/helper.styl";

.preloaded {
  opacity 1;
  position absolute
  z-index 10000;
}

.game {
  overflow hidden;

  canvas {
    position: absolute; top: 0; left: 0;z-index: 10
  }

  .bg {
    background-image url(../../../img/768x1024_gradient_overlay.png);
    background-size 100% 100%
    background-repeat no-repeat
    position absolute
    top 0
    bottom 0
    left 0
    right 0
  }

  .logo {
    position relative
    width 100%
    z-index 100;

    img {
      width 100%
    }

    .back {
      width auto;
      height 100%
      display block
      position absolute;
      left 0
      top 0;

      img {
        width auto
        height 100%
      }
    }
  }

  .stady {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    overflow hidden;

    .bg {
      position absolute;
      border none
    }

    .content-stady {
      position: absolute;
      top: 50%;
      margin-top: -81px;

      img {
        width 100%
      }
    }
  }

  sqSize(100%)

  .time-container {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 31px;

    .left {
      position: absolute;
      left: -6px;
      top: 3px;
      height: 27px;
      width: 28px;
    }

    .right {
      position: absolute;
      right: -9px;
      top: 3px;
      height: 27px;
      width: 28px;

      img {
        margin 0 -12px;
      }
    }

    img {
      height: 100%;
      margin: 0px -14px 0 -9px;
    }
  }

  .counts {
    position: absolute;
    left 10px;
    top 10px;
    height 29px

    & > div {
      height 100%
      display inline-block
    }

    .left img {
      margin: 0 -12px;
    }

    .right img {
      margin 0 -12px;
    }

    .slash {
      height 24px;
      margin: 0 -5px 0 -5px;
    }

    img {
      height 100%
    }
  }

  .game-body {
    position relative;
    height 100%

    canvas {
      position: relative;
      z-index 10;
    }

    .time {

      z-index 5;
      position: absolute;
      font-size 20px;
      right 10px;
      top: 10px;
      border 3px solid #fecb30;
      color #fecb30;
      padding 2px
      border-radius 4px;

      &.red {
        color: red;
      }

    }
  }
}

.score {
  /*background-image url();*/
  sqSize(100%)

  .logo {
    position absolute
    top 0
    left 0;
    width 100%
    z-index 100;

    img {
      width 100%
    }

    .back {
      width auto;
      height 100%
      display block
      position absolute;
      left 0
      top 0;

      img {
        width auto
        height 100%
      }
    }
  }

  .bg {
    background-image url(../../../img/768x1024_gradient_overlay.png);
    background-size 100% 100%
    position absolute;
    top 0;
    left 0;
    bottom 0;
    right 0;
  }

  .container-score {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;

    &:before {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      content: '';
    }

    .center-block {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      text-align: left;
      width 100%
    }



    box-sizing: border-box;
    min-height: 100%;
    padding: 73px 15px 64px 15px;

    .line.row {
      margin 15px 0;
    }

    .row img {
      display: block
      margin auto;
    }

    .food-score {

      text-align: center;
      height 67px

      img {
        display inline-block
        margin 0 -25px
        width auto;
      }
    }

    .row {

      .center {
        margin auto
        float none;
      }

    }

    .btn {
      display block;
      margin 0 auto;
      setSize(60%, auto)
      border 0;
      padding 0;
    }

    .share {
      text-align center

      .btn {
        display inline-block;
        width auto;
        height auto;
        padding 0;
      }

    }

    img {
      width 100%
    }

    .share {
      margin 35px 0 15px 0;
    }

    .legal {
      position: absolute;
      left 0
      bottom 0
    }
  }

}