.preloaded {
  opacity: 1;
  position: absolute;
  z-index: 10000;
}
.game {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.game canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.game .bg {
  background-image: url("../../../img/768x1024_gradient_overlay.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.game .logo {
  position: relative;
  width: 100%;
  z-index: 100;
}
.game .logo img {
  width: 100%;
}
.game .logo .back {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.game .logo .back img {
  width: auto;
  height: 100%;
}
.game .stady {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
}
.game .stady .bg {
  position: absolute;
  border: none;
}
.game .stady .content-stady {
  position: absolute;
  top: 50%;
  margin-top: -81px;
}
.game .stady .content-stady img {
  width: 100%;
}
.game .time-container {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 31px;
}
.game .time-container .left {
  position: absolute;
  left: -6px;
  top: 3px;
  height: 27px;
  width: 28px;
}
.game .time-container .right {
  position: absolute;
  right: -9px;
  top: 3px;
  height: 27px;
  width: 28px;
}
.game .time-container .right img {
  margin: 0 -12px;
}
.game .time-container img {
  height: 100%;
  margin: 0px -14px 0 -9px;
}
.game .counts {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 29px;
}
.game .counts > div {
  height: 100%;
  display: inline-block;
}
.game .counts .left img {
  margin: 0 -12px;
}
.game .counts .right img {
  margin: 0 -12px;
}
.game .counts .slash {
  height: 24px;
  margin: 0 -5px 0 -5px;
}
.game .counts img {
  height: 100%;
}
.game .game-body {
  position: relative;
  height: 100%;
}
.game .game-body canvas {
  position: relative;
  z-index: 10;
}
.game .game-body .time {
  z-index: 5;
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 10px;
  border: 3px solid #fecb30;
  color: #fecb30;
  padding: 2px;
  border-radius: 4px;
}
.game .game-body .time.red {
  color: #f00;
}
.score {
/*background-image url();*/
  width: 100%;
  height: 100%;
}
.score .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.score .logo img {
  width: 100%;
}
.score .logo .back {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.score .logo .back img {
  width: auto;
  height: 100%;
}
.score .bg {
  background-image: url("../../../img/768x1024_gradient_overlay.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.score .container-score {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
  box-sizing: border-box;
  min-height: 100%;
  padding: 73px 15px 64px 15px;
}
.score .container-score:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}
.score .container-score .center-block {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  width: 100%;
}
.score .container-score .line.row {
  margin: 15px 0;
}
.score .container-score .row img {
  display: block;
  margin: auto;
}
.score .container-score .food-score {
  text-align: center;
  height: 67px;
}
.score .container-score .food-score img {
  display: inline-block;
  margin: 0 -25px;
  width: auto;
}
.score .container-score .row .center {
  margin: auto;
  float: none;
}
.score .container-score .btn {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
  border: 0;
  padding: 0;
}
.score .container-score .share {
  text-align: center;
}
.score .container-score .share .btn {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
}
.score .container-score img {
  width: 100%;
}
.score .container-score .share {
  margin: 35px 0 15px 0;
}
.score .container-score .legal {
  position: absolute;
  left: 0;
  bottom: 0;
}
