@import "../../../css/helper.styl";

.rules, .full-rules {
  sqSize(100%)
  font-family ITCKabel

  .bg {
    background-image url(../../../img/768x1024_gradient_overlay.png);
    background-size 100% 100%
    background-repeat no-repeat
    position absolute
    top 0
    bottom 0
    left 0
    right 0
  }

  .logo {
    position relative
    width 100%
    z-index 100;

    img {
      width 100%
    }

    .back {
      width auto;
      height 100%
      display block
      position absolute;
      left 0
      top 0;

      img {
        width auto
        height 100%
      }
    }
  }

  .block {
    display none;
  }

  .slider {
    height 425px;
    position relative

    .row {
      position: relative;
      height 425px

      .arrow {
        width 100%;
        border none
        margin 1px
      }

    }

    .slider-col {
      height 425px
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      font-size: 0;

      &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
      }

      & > .center-block {
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left;
      }
    }

    .slider-body {
      height 425px;
      overflow hidden
      width 100%

      white-space: nowrap;
      text-align: center;
      font-size: 0;

      &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
      }

      img {
        position absolute;
        top: 50%
        left 50%
        transform: translateY(-70%);
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left;
        width 100%
      }

    }
  }

  .rules-container {
    min-height 100%
    padding 0 15px;

    .header {
      height 300px
      background-image url(../../../img/header_horizontal.jpg);
      background-position center
      background-size auto 100%;
      margin 0 -15px -5px -15px
    }

    .img-text {
      margin: -10px auto;
      width: 60%;
      display: block;
    }

    .img-width {
      width 100%;
    }

    .top-line {
      margin 0 -15px
      height 10px;
      background-image url(../../../img/divider_2.png);
      background-size auto 100%
      background-position center;
    }

    .under-line {
      margin 0 -15px
      height 25px;
      background-image url(../../../img/divider.png);
      background-size auto 100%
      background-position center;
    }

  }

  /*.sticer-dom {*/
    /*background-image url(../../../img/money_man_stiker.png);*/
    /*background-size auto 80%*/
    /*background-position left bottom;*/
    /*background-repeat no-repeat*/
  /*}*/

  .legal {
    position: relative;
    bottom 0;
    left 0;
    width 100%

    img {
      width 100%
    }

  }

}

.full-rules {

  font-family ITCKabel
  color #fff;

  h1 {
    font-size 26px
    font-weight: bold;
    text-align center
  }

  h2 {
    font-size 14px;
  }

  .yellow {
    color #fecb30
  }

  .padding-left {
    padding-left 20px
  }
}