.rules,
.full-rules {
  width: 100%;
  height: 100%;
  font-family: ITCKabel;
/*.sticer-dom {*/
/*background-image url(../../../img/money_man_stiker.png);*/
/*background-size auto 80%*/
/*background-position left bottom;*/
/*background-repeat no-repeat*/
/*}*/
}
.rules .bg,
.full-rules .bg {
  background-image: url("../../../img/768x1024_gradient_overlay.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.rules .logo,
.full-rules .logo {
  position: relative;
  width: 100%;
  z-index: 100;
}
.rules .logo img,
.full-rules .logo img {
  width: 100%;
}
.rules .logo .back,
.full-rules .logo .back {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.rules .logo .back img,
.full-rules .logo .back img {
  width: auto;
  height: 100%;
}
.rules .block,
.full-rules .block {
  display: none;
}
.rules .slider,
.full-rules .slider {
  height: 425px;
  position: relative;
}
.rules .slider .row,
.full-rules .slider .row {
  position: relative;
  height: 425px;
}
.rules .slider .row .arrow,
.full-rules .slider .row .arrow {
  width: 100%;
  border: none;
  margin: 1px;
}
.rules .slider .slider-col,
.full-rules .slider .slider-col {
  height: 425px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
}
.rules .slider .slider-col:before,
.full-rules .slider .slider-col:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}
.rules .slider .slider-col > .center-block,
.full-rules .slider .slider-col > .center-block {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}
.rules .slider .slider-body,
.full-rules .slider .slider-body {
  height: 425px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
}
.rules .slider .slider-body:before,
.full-rules .slider .slider-body:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}
.rules .slider .slider-body img,
.full-rules .slider .slider-body img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-70%);
  -mos-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
  transform: translateY(-70%);
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  width: 100%;
}
.rules .rules-container,
.full-rules .rules-container {
  min-height: 100%;
  padding: 0 15px;
}
.rules .rules-container .header,
.full-rules .rules-container .header {
  height: 300px;
  background-image: url("../../../img/header_horizontal.jpg");
  background-position: center;
  background-size: auto 100%;
  margin: 0 -15px -5px -15px;
}
.rules .rules-container .img-text,
.full-rules .rules-container .img-text {
  margin: -10px auto;
  width: 60%;
  display: block;
}
.rules .rules-container .img-width,
.full-rules .rules-container .img-width {
  width: 100%;
}
.rules .rules-container .top-line,
.full-rules .rules-container .top-line {
  margin: 0 -15px;
  height: 10px;
  background-image: url("../../../img/divider_2.png");
  background-size: auto 100%;
  background-position: center;
}
.rules .rules-container .under-line,
.full-rules .rules-container .under-line {
  margin: 0 -15px;
  height: 25px;
  background-image: url("../../../img/divider.png");
  background-size: auto 100%;
  background-position: center;
}
.rules .legal,
.full-rules .legal {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
.rules .legal img,
.full-rules .legal img {
  width: 100%;
}
.full-rules {
  font-family: ITCKabel;
  color: #fff;
}
.full-rules h1 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}
.full-rules h2 {
  font-size: 14px;
}
.full-rules .yellow {
  color: #fecb30;
}
.full-rules .padding-left {
  padding-left: 20px;
}
