<div class="game">

    <div class="bg"></div>
    <div class="stady" ng-hide="readed">

        <div class="bg"></div>

        <div class="content-stady">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
                    <img class="text" src="img/stady/txt.png">
                    <img onclick="SoundManager.button.play()" class="button" ng-click="setReaded()" src="img/stady/play.png">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
            </div>
        </div>

    </div>

    <div class="logo">
        <a class="back" onclick="GameManager.stop();" href="#/">
            <img alt="Назад" style="height: {{ size }}px;" src="img/back.png">
        </a>
    </div>

    <canvas></canvas>
    
    <div class="game-body">
        <div class="counts">
            <div class="left">
                <img ng-repeat="prize in prizeCount track by $index" ng-src="img/{{ prize }}.png">
            </div>

            <img class="slash" src="img/slash.png">

            <div class="right">
                <img ng-repeat="food in foodCount track by $index" ng-src="img/{{ food }}.png">
            </div>
        </div>
        <div class="time-container">
            <img src="img/shape_dots.png">

            <div class="left">
                <img ng-repeat="minute in minutes track by $index" ng-src="img/{{ minute }}.png">
            </div>
            <div class="right">
                <img ng-repeat="second in seconds track by $index" ng-src="img/{{ second }}.png">
            </div>
        </div>        
    </div>
</div>