<div class="score">

    <div class="logo">
        <a class="back" href="#/">
            <img alt="Назад" src="img/back.png" ng-load="imageLoaded();" style="height: {{ size }}px;" img-load>
        </a>
    </div>

    <div class="container-score"style="background: rgba(0,0,0,0.25);">

        <div class="bg"></div>

        <div class="center-block">
            <div class="row">

                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-2"></div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
                    <img alt="РЕЗУЛЬТАТЫ" src="img/result.png" ng-load="imageLoaded();" img-load/>
                </div>
                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-2"></div>

            </div>

            <div class="row line">

                <div class="col-lg-5 col-md-3 col-sm-2 col-xs-2"></div>
                <div class="col-lg-8 col-md-6 col-sm-8 col-xs-8">
                    <img src="img/line.png" ng-load="imageLoaded();" img-load/>
                </div>
                <div class="col-lg-5 col-md-3 col-sm-2 col-xs-2"></div>

            </div>

            <div class="row">

                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-8">
                    <img alt="Собрано продуктов" src="img/catched_products.png" ng-load="imageLoaded();" img-load/>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-2"></div>

            </div>

            <div class="row">

                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-3"></div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <div class="food-score">
                        <img ng-repeat="food in foodImages track by $index" alt="{{ food }}" ng-src="img/{{ food }}.png"
                             ng-load="imageLoaded();" img-load>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-3"></div>

            </div>

            <div class="row">

                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-8">
                    <img alt="Призов в продуктах" src="img/product_prizes.png" ng-load="imageLoaded();" img-load/>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-2"></div>

            </div>

            <div class="row">

                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-3"></div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <div class="food-score">
                        <img ng-repeat="prize in prizeImages track by $index" alt="prize" ng-src="img/{{ prize }}.png"
                             ng-load="imageLoaded();" img-load>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-3"></div>

            </div>

            <div class="row">

                <div class="col-lg-5 col-md-1 col-sm-1 col-xs-0"></div>
                <div class="col-lg-8 col-md-6 col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-1 col-sm-2 col-xs-0"></div>
                        <div class="col-lg-3 col-md-10 col-sm-8 col-xs-12">
                            <a onclick="SoundManager.button.play()" class="btn" href="#/game">
                                <img src="img/replay.png" ng-load="imageLoaded();" img-load>
                            </a>
                            <a onclick="SoundManager.button.play()" class="btn" href="#/rules">
                                <img src="img/afterGameRule.png" ng-load="imageLoaded();" img-load>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-1 col-sm-2 col-xs-0"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-1 col-sm-1 col-xs-0"></div>

            </div>

            <div class="row share">

                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3"></div>
                <div class="col-lg-8 col-md-4 col-sm-4 col-xs-6">
                    <img src="img/share.png" ng-load="imageLoaded();" img-load>
                </div>
                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-3"></div>

            </div>

            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-3 col-xs-2"></div>
                <div class="col-lg-8 col-md-4 col-sm-6 col-xs-8">
                    <div class="row">
                        <div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
                        <div class="share col-lg-3 col-md-8 col-sm-10 col-xs-12"
                             style="margin: 0; white-space: nowrap;">
                            <a onclick="Share.vkontakte('http://monopoly.mcdonalds.ru','Миллионы призов. Миллионы победителей.','http://mcd.avantmedia.ru/game/img/share/Vkontakte.jpg','Отрывайте, собирайте, выигрывайте!<br/> Более 7 000 000 призов в Макдоналдс!'); return false;"
                               class="btn" href="#">
                                <img src="img/vk.png" ng-load="imageLoaded();" img-load>
                            </a>
                            <a onclick="Share.facebook('http://mcd.avantmedia.ru/index-main.html','Миллионы призов. Миллионы победителей.', 'http://mcd.avantmedia.ru/game/img/fb_norm_200x200px_new.jpg','Отрывайте, собирайте, выигрывайте!<br/> Более 7 000 000 призов в Макдоналдс!'); return false;"
                               class="btn" href="#">
                                <img src="img/fb.png" ng-load="imageLoaded();" img-load>
                            </a>
                            <a onclick="Share.odnoklassniki('http://monopoly.mcdonalds.ru','Миллионы призов. Миллионы победителей.','http://mcd.avantmedia.ru/game/img/share/Odnoklassniki.jpg','Отрывайте, собирайте, выигрывайте!<br/> Более 7 000 000 призов в Макдоналдс!'); return false;"
                               class="btn" href="#">
                                <img src="img/odn.png" ng-load="imageLoaded();" img-load>
                            </a>
                            <a onclick="Share.twitter('http://mcd.avantmedia.ru/index-main.html','Миллионы призов. Миллионы победителей. Отрывайте, собирайте, выигрывайте! Более 7 000 000 призов в Макдоналдс!'); return false;"
                               class="btn" href="#">
                                <img src="img/tw.png" ng-load="imageLoaded();" img-load>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-1 col-xs-0"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-3 col-xs-2"></div>

            </div>
        </div>

        <div class="legal">
            <img src="img/legal.png" ng-load="imageLoaded();" img-load>
        </div>
    </div>


</div>


