<div class="full-rules">

    <div class="logo">
        <a class="back" href="#/rules">
            <img style="height: {{ size }}px" alt="Назад" src="img/back.png">
        </a>
    </div>
    <div class="rules-container" style="position: relative">

        <div class="bg"></div>

        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12" style="padding-bottom: 110px">

                <h1 class="yellow">ПРАВИЛА</h1>

                <h5 class="yellow">КРАТКИЕ УСЛОВИЯ СТИМУЛИРУЮЩЕГО МЕРОПРИЯТИЯ "Монополия в Макдоналдс®&nbsp;2014"</h5>

                <p>
                    <span class="yellow">1.</span> Организатор Монополии: Закрытое акционерное общество "Москва –
                    Макдоналдс".
                </p>

                <p>
                    <span class="yellow">2.</span> Срок проведения Монополии: с 6 по 31 декабря 2014 года с учетом часов
                    работы Предприятий общественного питания Макдоналдс.
                </p>


                <h2 class="yellow">КТО МОЖЕТ УЧАСТВОВАТЬ?</h2>

                <p>
                    <span class="yellow">3.</span> Участвовать в Монополии могут российские граждане, достигшие на
                    момент начала участия в Монополии 18-летнего возраста ("Участники").
                </p>

                <h2 class="yellow">КАК ПРИНЯТЬ УЧАСТИЕ И ПОЛУЧИТЬ ВОЗМОЖНОСТЬ ВЫИГРАТЬ ПРИЗ?</h2>

                <p>
                    <span class="yellow">4.</span> Чтобы выиграть приз, Участник должен приобрести один или несколько
                    следующих Участвующих Продуктов со Стикером в одном из Предприятий общественного питания Макдоналдс
                    на территории России:<br>

                <p class="padding-left">
                    1) Биг Мак®;<br>
                    2) Биг Тейсти®;<br>
                    3) Роял Чизбургер®;<br>
                    4) Роял Де Люкс®;
                    5) Филе-о-Фиш®;<br>
                    6) Чикен Макнаггетс® (9 кусочков);<br>
                    7) Картофель Фри (большая порция);<br>
                    8) Средняя порция напитков Кока-Кола®, Кока-Кола® лайт, Фанта®, Спрайт®, Чай Липтон® зелёный и Чай
                    Липтон® лимонный, а
                    также большая порция молочных коктейлей с шоколадным, ванильным и клубничным сиропом и апельсинового
                    сока; и <br>
                    9) Большой Кофе, Большой Капучино, Кофе Глясе, Латте, Большой чёрный и Большой зеленый
                    чай.
                </p>

                <p>
                    <span class="yellow">5.</span> На поверхности Участвующего Продукта Вы найдете 1 (один) стикер
                    ("Стикер"), который
                    необходимо осторожно отделить, как показано на Стикере и поверхности Участвующего Продукта, чтобы
                    узнать о том, что нужно сделать, чтобы получить приз.
                </p>

                <p>
                    <span class="yellow">5.1.</span> Если на Стикере Вы увидите - "1
                    Капучино
                    станд. в Макдоналдс", "1 Пирожок с вишней", "1 Порция картофеля фри станд.", "1 Холодный напиток
                    станд.", "1 Вафельный рожок", "1 Чизбургер" - то, чтобы получить соответствующий Моментальный
                    Продуктовый Приз, Вам нужно передать призовой Стикер сотруднику на кассе Предприятия общественного
                    питания Макдоналдс до 31.01.2015.</p>

                <p>
                    <span class="yellow">5.2.</span> Если на Стикере Вы увидите - "1 Ваучер на 2000 руб. на покупку
                    на сайте www.lamoda.ru до 31.12.2015", "1 Ваучер на 2000 руб. на покупку на сайте www.sotmarket.ru
                    до 31.12.2015", "1 Ваучер на 1 из 300 электронных книг на сайте www.litres.ru до 30.06.2015" - то,
                    чтобы получить соответствующий "Моментальный Не Продуктовый Приз", Вам нужно не позднее срока,
                    указанного на Стикере, посетить Сайт Партнера Монополии, указанный на Стикере, и, следуя
                    инструкциям, ввести на сайте уникальный код, указанный на Стикере, и другие запрашиваемые
                    данные.</p>

                <p>
                    <span class="yellow">5.3.</span> Если на Стикере Вы увидите - "1 000 000 руб.", "50 000 руб.",
                    "Citroën C4 Седан", "1
                    Путевка на 2-х взрослых и 1-го ребенка в Турцию", "1 Поездка на 2-х в музей Coca-Cola в Атланте,
                    США", "1 LED-телевизор 60’’", "1 Портативная аудиосистема", "1 Наушники", "1 Смартфон Acer Liquid
                    E3", "1 Планшет Acer Iconia One 7", "1 Авиаперелет на 2-х в Европу", "1 Wii U + игра Mario Kart 8",
                    "1 Nintendo 2DS + игра Pokémon", "1 Nikon COOLPIX L830" или "1 Nikon 1 J4" - то, чтобы получить
                    соответствующий "Моментальный Не Продуктовый Приз", Вам нужно до 28.02.2015 подать Заявку, как
                    указано в пункте 7 ниже, и следовать инструкциям Организатора и требованиям Полных Условий Монополии
                    (см. пункт 11 внизу).</p>

                <p>
                    <span class="yellow">5.4.</span> Если на Стикере Вы увидите один из следующих Объектов -
                    "Нагатинская
                    ул.",
                    "Житная ул.", "Первая парковая ул.", "ул. Огарева", "Варшавское шоссе", "Ростовская наб.", "ул.
                    Сретенка", "ул. Полянка", "Рублевское шоссе", "ул. Вавилова", "Рязанский проспект", "ул. Тверская",
                    "ул. Пушкинская", "Площадь Маяковского", "Смоленская площадь", "Новинский бульвар", "ул. Грузинский
                    вал", "Кутузовский проспект", "Гоголевский бульвар", "ул. Щусева", "ул. Арбат", "ул. Малая бронная",
                    "Рижская железная дорога", "Ленинградская железная дорога", "Казанская железная дорога", "Курская
                    железная дорога" - то это Ваш шанс выиграть "Коллекционный Приз", а именно 1 000 000 (Один миллион)
                    руб. или автомобиль Citroën C4 Седан или 1 LED-телевизор Panasonic с диагональю экрана 60 дюймов или
                    1 Путевку на 2-х взрослых и 1-го ребенка в Турцию или 1 Поездку на 2-х в музей Coca-Cola в Атланте,
                    США или 1 Смартфон Acer Liquid E3 или 1 фотоаппарат Nikon 1 J4 или 1 Авиаперелет на 2-х в Европу или
                    1 Wii U + игра Mario Kart </p>


                <p>
                    <span class="yellow">6.</span> До подачи
                    Заявки Участник обязан сделать цветную копию соответствующего(-их) Стикера(-ов) и хранить ее до
                    получения соответствующего приза.
                </p>

                <h2 class="yellow">КАК ПОДАТЬ ЗАЯВКУ?</h2>

                <p>
                    <span class="yellow">7.</span> Чтобы подать Заявку, Участник должен доставить
                    ее в отдельном конверте в ЗАО "Грант Торнтон" по адресу: Россия, 123007, Москва, Хорошевское шоссе
                    32А с пометкой "для Макдоналдс" ("Заявка"):
                </p>

                <p class="padding-left">
                    1) соответствующий призовой Стикер (Стикеры),
                    приклеенный(-ые) на лист бумаги путем снятия верхнего слоя Стикера и приклеивания его на лист бумаги
                    (под верхним слоем Стикера находится самоклеящаяся поверхность, поэтому при наклеивании верхнего
                    слоя Стикера на лист бумаги не требуется использовать клей); и<br>
                    2)письмо с паспортными данными
                    Участника (включая полное имя, дату рождения, гражданство, адрес регистрации, серию и номер
                    паспорта, дату выдачи, наименование выдавшего органа и код подразделения), идентификационный номер
                    налогоплательщика (ИНН, если имеется), является ли Участник налоговым резидентом в России или иной
                    стране, контактный телефон (по которому Участник доступен в рабочие дни с 9:00 до 18:00), почтовый
                    адрес для доставки призов в рабочие дни с 9.00 до 18.00, желаемое время доставки и действующий адрес
                    электронной почты. <br>
                    3)Участник, подающий Заявку в отношении денежного приза должен также
                    предоставить платежные реквизиты своего банковского счета, куда Организатор может перевести денежный
                    приз.
                </p>

                <p>
                    <span class="yellow">8.</span> Для это Вам нужно собрать недостающие Стикеры с Объектами одного
                    цвета
                    (количество и цвет указан на Стикере и в Полных Условиях), подать Заявку до 28.02.2015, как указано
                    в пункте 7 ниже, и следовать инструкциям Организатора и требованиям Полных Условий.
                </p>

                <p>
                    <span class="yellow">9.</span> Если Приз не получен в течение 30 рабочих дней с даты отправки
                    Заявки,
                    Участник ДОЛЖЕН
                    позвонить по телефону Горячей Линии. Призы доставляются Участникам до 31.03.2015 (если иное не
                    предусмотрено Полными Условиями), поэтому если Участник не позвонит по телефону Горячей Линии и не
                    сообщит о том, что он не получил приз по своей Заявке, то он теряет право на получение приза.
                </p>

                <p>
                    <span class="yellow">10.</span> Горячая Линия: По всем вопросам Участники могут звонить на
                    круглосуточную Горячую Линию по телефону
                    8 800 333 09 19, открытую в течение Срока Получения Призов.
                </p>

                <p>
                    <span class="yellow">11.</span> Полные Условия с информацией об
                    организаторе, правилах участия, количестве призов и порядке их получения находятся на Сайте
                    Монополии в Интернете по адресу <a class="yellow" href="http://monopoly.mcdonalds.ru/rules.pdf" target="_blank">http://monopoly.mcdonalds.ru/rules.pdf</a>.
                </p>

                <p>
                    <span class="yellow">12.</span> Настоящие Краткие Условия Монополии
                    предназначены только для удобства. Пожалуйста, внимательно ознакомьтесь с Полными Условиями на сайте
                    в Интернете <a class="yellow" href="http://monopoly.mcdonalds.ru/rules.pdf" target="_blank">http://monopoly.mcdonalds.ru/rules.pdf</a>, так как,
                    принимая участие в стимулирующем мероприятии "Монополия в
                    Макдоналдс 2014" ("Монополия"), Вы соглашаетесь с Полными Условиями. Для получения отдельных
                    категорий призов от участника может требоваться предоставление Организатору дополнительной
                    информации и документов и/или наличия у участника специальных документов (загранпаспорт) и/или
                    разрешений (виза).
                </p>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

        </div>

        <div class="legal">
            <img src="img/legal.png">
        </div>
    </div>

</div>