<div class="rules">


    <div class="logo" style="position: absolute">
        <a class="back" href="#">
            <img style="height: {{ size }}px" alt="Назад" src="img/back.png">
        </a>
    </div>

    <div class="rules-container" style="position:relative; padding-top: 40px">

        <div class="bg"></div>

        <div class="header" style="height: {{ headerHeight }}px">

        </div>


        <div class="accordion">

            <div class="top-line" style="margin-bottom: 15px"></div>

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <img ng-click="setSliderHeight()" style="padding: 0;" onclick="SoundManager.button.play()" class="img-text btn"
                         src="img/open.png">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

            </div>

            <div class="under-line"></div>
            <div class="block">


                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12" style="color: #fff; font-size: 14px; text-align: center">
                        Покупайте Биг Мак®, Биг Тейсти®, 9 Чикен Макнаггетс®,  Роял Де Люкс®, Роял Чизбургер®,
                        Филе-о-Фиш®, большую порцию Картофеля Фри, холодный напиток 0,5 л и горячий напиток 0,3 л и
                        получите шанс выиграть фантастические призы.
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">

                        <div class="slider" style="height: {{ sliderHeight }}px">

                            <div class="row" style="height: {{ sliderHeight }}px">

                                <div class="slider-col col-lg-3 col-md-3 col-sm-2 col-xs-2"
                                     style="height: {{ sliderHeight }}px">
                                    <div class="center-block">
                                        <img onclick="SoundManager.button.play()" src="img/next_slider.png"
                                             ng-click="move(false)" style="display: none" class="left arrow">
                                    </div>
                                </div>
                                <div class="slider-col col-lg-6 col-md-6 col-sm-8 col-xs-8"
                                     style="height: {{ sliderHeight }}px">
                                    <div class="center-block" style="height: {{ sliderHeight }}px">

                                        <div class="slider-body"
                                             style="width: {{ width }}px; height: {{ sliderHeight }}px">
                                            <img ng-repeat="img in images" style="left: {{ 100 * $index }}%"
                                                 ng-src="{{ path }}{{ img }}">
                                            <img ng-repeat="img in images"
                                                 style="left: {{ 100 * $index }}%; bottom: 0; top: auto"
                                                 ng-src="{{ path }}/texts/{{ img }}">
                                        </div>

                                    </div>
                                </div>
                                <div class="slider-col col-lg-3 col-md-3 col-sm-2 col-xs-2"
                                     style="height: {{ sliderHeight }}px">
                                    <div class="center-block">
                                        <img onclick="SoundManager.button.play()" src="img/prev_slider.png"
                                             ng-click="move(true)" class="right arrow">
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

                </div>

            </div>

        </div>

        <div class="accordion">

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <img onclick="SoundManager.button.play()" style="width: 63%" class="img-text btn" src="img/collect.png">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

            </div>

            <div class="under-line"></div>
            <div class="block">

                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12" style="color: #fff; font-size: 14px; text-align: center">
                        Играя в МОНОПОЛИЮ в Макдоналдс, вы сможете найти два типа стикеров. Каждый стикер – это ваш шанс
                        выиграть моментальный или коллекционный приз.
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

                </div>

                <div class="sticer-dom row">

                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <img class="img-text" style="width: 90%; margin-top: 10px; margin-bottom: 15px"
                             src="img/stikers.png">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

                </div>

            </div>

        </div>


        <div class="accordion">

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <img onclick="SoundManager.button.play()" class="img-text btn" style="width: 70%; margin-top: -3px; padding: 0;"
                         src="img/prizes.png">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

            </div>

            <div class="under-line"></div>
            <div class="block">

                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <img class="img-text" style="width: 50%; margin-top: 10px" src="img/prizes_title.png">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                    <div style="text-align: center;" class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <img class="img-text" style="width: 90%; margin-top: 15px" src="img/prize-group.png">
                        <img class="img-text prize-line" style="width: 90%; margin-top: 7px; display: none; padding-bottom: 25px"
                             src="img/all_prizes.png">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <img onclick="SoundManager.button.play()" ng-click="showLine()" class="img-text button"
                             style="width: 90%; margin-top: 15px; padding-bottom: 25px" src="img/button.png">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

                </div>

            </div>

        </div>

        <div class="row" style="padding-bottom: 45px">

            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12" style="text-align: center; padding-bottom: 110px">
                <a onclick="SoundManager.button.play()" href="#/full-rules" style="color: #fff; text-decoration: underline; font-size: 15px">
                    правила
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-2 col-xs-0"></div>

        </div>

        <div class="legal" style="position: absolute">
            <img src="img/legal.png">
        </div>

    </div>

</div>